@model CategoryDtoInsert
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Category" asp-action="Create" method="post">
    <label>Kategori Adi:</label>
    <input asp-for="Name" />

    <input type="submit" class="btn-primary" />

</form>

