@model Customerize.Core.DTOs.Category.CategoryDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Category" asp-action="Edit" method="post">
    <input asp-for="Id" value="@Model.Id" type="hidden" />

    <label asp-for="Name"></label>
    <input asp-for="Name" value="@Model.Name" />

    <input type="submit" class="btn-primary" />
</form>

