@model DashBoardDtoDetail
@{
    ViewData["Title"] = "Home Page";
}

<div class="widget-box ui-sortable-handle" id="widget-box-1">
    <div class="widget-header">
        <h5 class="widget-title">Günlük Bilgi ve İstatistikler</h5>

        <div class="widget-toolbar">
            <div class="widget-menu">
            </div>

            <a data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
            </a>
            <a data-action="close">
                <i class="ace-icon fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="text-center">
        <a asp-action="Index" asp-controller="Home">
            <div class="infobox infobox-green">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-comments"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">@Model.AdvertisementCount</span>
                    <div class="infobox-content">Yeni Duyurular</div>
                </div>
            </div>
        </a>
        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-shopping-cart"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@Model.OrdersCount</span>
                <div class="infobox-content">Yeni Sipariş</div>
            </div>
        </div>

        <a asp-action="GetAllList" asp-controller="Product">
            <div class="infobox infobox-red">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-flask"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">@Model.NewProductCount</span>
                    <div class="infobox-content">Yeni Ürün</div>
                </div>
            </div>
        </a>

        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-cart-plus"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">10</span>
                <div class="infobox-content">Bekleyen Sipariş</div>
            </div>
        </div>

    </div>
</div>
