@model ProductDtoInsert
@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<form asp-controller="Product" asp-action="Create" method="post">

    <label>Ürün Adı:</label>
    <input asp-for="Name" class="form-control" />

    <label>Stok Adedi:</label>
    <input asp-for="Stock" class="form-control" />

    <label>Ürün Fiyatı:</label>
    <input asp-for="Price" class="form-control" />

    <label>Kategori Adi:</label>
    <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-control"></select>

    <label>Ürün Tipi:</label>
    <select asp-for="ProductTypeId" asp-items="ViewBag.productTypes" class="form-control"></select>

    <div class="form-group">
        <a type="button" href="#modal-table" role="button" class="btn btn btn-succes" data-toggle="modal"> Kaydet</a>
        <div id="modal-table" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">

                            Kayıt İşlemini Onaylıyor Musunuz?
                        </div>
                    </div>
                    <div class="modal-body no-padding text-center">
                        <br />
                        <br />
                        <button type="submit" class="btn btn-success">Onayla</button>
                        <button class="btn btn-dark" data-dismiss="modal">Vazgeç</button>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>














